loader {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

.loader_display {
    display:block;
}

.loader_item {
    white-space: nowrap;
}

.loader_task div {
    padding-top:0.5em;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
