body {
    display:flex;
    height:calc(100vh - 1em);
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #f1f1f1;
}

center {
    display:flex;
    flex-direction: column;
    margin:auto;
}
